//font-family
$font-family-title:'Dancing Script', cursive;
$font-family-default:'Josefin Sans', sans-serif;
$font-family-header:'Playfair Display', serif;

//font-size
$font-size-navbar:1.7rem;
$font-size-header:5rem;
$font-size-btn:2rem;
$font-size-title:3rem;
$font-size-default:2.5rem;
$font-size-footbar:1.5rem;

//background color
$bg-color-navbar:#401e07;
$bg-color-btn-primary:#600000;
$bg-color-btn-secondary:#ED7F64;

//color
$color-navbar:#FFA12E;
$color-btn-primary:#FDDA86;
$color-btn-secondary:#000042;


