.image__section{
    background-image: url(../img/toa.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
    padding: 10rem;
    text-align: center;
    font-size: 2.5rem;
    height: 60rem;
    // color: $bg-color-navbar;
    color: #fff;
    opacity: .99;
}

